.header {
    
    min-height: 237px;
     background:var(--col-nav-bg);
     
     .logo {
         width: 70px;
     }
     h1 {
         font-size: var(--c-fs-1);
         @media screen and (max-width:768px) {
     font-size: var(--c-fs-2);
         }        
         @media screen and (max-width:576px) {
             font-size: var(--c-fs-3);
                 }        
     }
     .search-bar {
         min-width: 260px;
         max-width: 769px;
         @media screen and (max-width:768px){
             max-width: 80vw;
         }
     border-radius: 4px;
     background: #fff;
     input {
         font-size: var(--c-fs-8);
         flex-grow: 1;
         border: none;
         outline: none;
     }
     }
 }