.catergory {
    background: var(--col-main-bg);
   .d-grid {
    grid-template-columns: repeat( 3, 1fr);
    gap: var(--display-gap);
    @media screen and (max-width:1200px){
        grid-template-columns: repeat( 2, 1fr);  
    }
    @media screen and (max-width:992px){
        grid-template-columns: repeat( 1, 1fr);  
    }
  
    @media screen and (max-width:576px){
        grid-template-columns: repeat( 1, 1fr);  
    }
   }
    .catergory-card{
        
        min-height: 208px;
        background-color: var(--col-catergory-card-bg);
        @media screen and (max-width: 576px) {
            min-width: 200px;
        }
        .overlay {
            position: absolute;
            visibility: hidden;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            height: 100%;
            top: 0;
            left: 0;
            font-size: var(--c-fs-8);
            cursor: pointer;
        }
        .card-text {
           color: #156bb2;
           font-size: var(--c-fs-8);
        }
        &:hover{
            .overlay{
                visibility: visible;
            }
        }
    }
}